<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto - Fan del Mate</title>
    <link rel="icon" type="image/x-icon" href="../img/icons/favicon.png">

    <link rel="stylesheet" href="../css/front.css">
    <link rel="stylesheet" href="../css/confirmar.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script type="module" src="../js/front/confirmar.js"></script>
</head>

<body>
    <menu-del-mate></menu-del-mate>


    <div class="carrito-container">
        <main class="mi-carrito">
            <div class="carrito">
                <h3>Mi Compra</h3>
                <div class="carrito-header">
                    <span>Producto</span>
                    <span>Subtotal</span>
                </div>

                <div class="carrito-items-confirmar">
                    <confirm-cart></confirm-cart>
                </div>


            </div>

            <confirmar-compra></confirmar-compra>
        </main>
    </div>

    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>


</body>

</html>