<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Detalle del Producto - Fan del Mate</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="/css/front.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script type="module" src="/js/dependencias.js"></script>
</head>

<body>
    <header>
        <menu-del-mate></menu-del-mate>
    </header>

    <main>
        <div class="ubicacion-producto">
            <span>Yerbas > </span>
            <a href="#">
                Actual
            </a>
        </div>

        <div class="producto-detalle">
            <div class="img-detalle">
            </div>
            <div class="detalles-producto">
            </div>
        </div>
    </main>

    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>
    <script type="module" src="/js/front/detalle.js"></script>
</body>

</html>