<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito - Fan del Mate</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="../css/front.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!--<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>-->
    <!-- jsPDF CDN -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>-->
</head>

<body>
    <menu-del-mate></menu-del-mate>

    <carrito-del-mate></carrito-del-mate>
    <main>
        <div class="contenedor">
            <div class="dire-envio"><dire-envio></dire-envio></div>
            <div class="met-pago"><met-pago></met-pago></div>
        </div>

    </main>
    <!--<factura-del-mate></factura-del-mate>
    <remito-del-mate></remito-del-mate>-->
    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>

    <script type="module" src="/js/front/enviar.js"></script>
    <!--<script type="module" src="/js/components/facturas/facturaC.js"></script>
    <script type="module" src="/js/components/facturas/remito.js"></script>-->


</body>

</html>