<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Mis Compras - Configuración</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="/css/front.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script type="module" src="/js/front/app.js"></script>
    <script type="module" src="/js/components/user/historial-facturas.js"></script>
</head>

<body>
    <menu-del-mate></menu-del-mate>

    <main class="user-panel">
        <div class="history-card" id="history-card-section">
            <div class="user-header">
                <img id="back-arrow" src="../img/icons/back-arrow.svg" alt="back-arrow" class="back-arrow">
                <h2>Mis Compras</h2>
            </div>
            <historial-facturas></historial-facturas>
        </div>
    </main>
    <mobile-nav-bar></mobile-nav-bar>
    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>
</body>

</html>