<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Fan del Mate</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="/css/front.css">
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tangerine&display=swap"
        rel="stylesheet">
    <script src="../js/front/nosotros.js"></script>
    <script type="module" src="../js/components/contacto/form.js"></script>

</head>

<body>
    <header>
        <menu-del-mate></menu-del-mate>
    </header>

    <main>
        <div class="encabezado">
            <div class="encabezado-titulo">
                <h1>Somos el Fan del Mate</h1>
                <p>Una empresa fundada sobre la tradición matera argentina</p>
            </div>
            <img class="encabezado-imagen" src="/img/banner/nosotros-portada.jpg" alt="imagen descriptiva">
        </div>
        <div class="cuerpo">
            <p class="primer-parrafo">Una visión que comenzó a principios del año 2024, nos propusimos llevar adelante
                un emprendimiento que ofrezca todos los elementos necesarios para disfrutar de esta bebida tan
                tradicional oriunda de nuestras tierras.</p>
            <img src="/img/banner/nosotros-2.webp" alt="imagen descriptiva 2">
            <p>A mitad del año comenzamos con una pequeña cantidad de productos para ofrecer en nuestra web. Gracias al
                apoyo de la gente, hoy contamos con una diversidad de marcas de yerba y variedad de mates en stock
                listos para ser enviados.</p>
            <p>Nos enfocamos en ofrecer un servicio de calidad, teniendo en cuenta la integridad y eficiencia en el
                servicio, tus pedidos serán respondidos a la brevedad y despachados sin demora</p>
            <div class="contacto">
                <p>¿Probaste nuestros productos?</p>
                <p>Dejanos tu comentario</p>
                <form-contacto></form-contacto>
            </div>

        </div>
    </main>

    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>
    <script type="module" src="/js/front/index.js"></script>
</body>

</html>