<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Productos - El fan del Mate</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="/css/front.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script type="module" src="/js/dependencias.js"></script>
</head>

<body>

    <menu-del-mate></menu-del-mate>

    <header class="productos">
        <section class="categorias product-card">

            <circulo-categoria img="/img/categorias/mates.png" name="Mates"></circulo-categoria>
            <circulo-categoria img="/img/categorias/termos.png" name="termos"></circulo-categoria>
            <circulo-categoria img="/img/categorias/yerbas.png" name="yerbas"></circulo-categoria>

        </section>
    </header>
    <section id="tipo-vista-contenedor" class="filtros-vista-contenedor">
        <div class="contenedor-boton-filtro" id="boton-filtro">
            <span>Filtrar</span>
            <img class="filtrar-icon" src="../img/icons/filtros.svg" alt="Filtrar" loading="lazy">
        </div>
        <div class="contenedor-boton-vista">
            <img src="../img/icons/grid.svg" id="grid" class="tipo-vista-icon" alt="" loading="lazy">
            <img src="../img/icons/list.svg" id="list" class="tipo-vista-icon" alt="" loading="lazy">
        </div>
    </section>
    <main>
        <div class="busquedas">
            <aside>

                <div class="filtros">
                    <filtros-del-mate></filtros-del-mate>
                </div>
            </aside>
            <div class="resultados grid">
            </div>
        </div>
    </main>

    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>

    <mobile-nav-bar></mobile-nav-bar>
</body>

</html>