<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Configuración</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="/css/front.css">
    <link rel="stylesheet" href="/css/props.css" />
    <script type="module" src="/js/front/user-menu.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script type="module" src="/js/components/navigation/mobile-nav-bar.js"></script>
</head>

<body>
    <menu-del-mate></menu-del-mate>

    <main class="user-panel">
        <div class="quick-links-mobile">
            <a href="/mis_datos" class="quick-link" id="link-mis-datos">
                <span class="icon">👤</span>
                <span class="text">Mis Datos</span>
                <span class="arrow">›</span>
            </a>
            <a href="/mis_compras" class="quick-link">
                <span class="icon">🛍️</span>
                <span class="text">Mis Compras</span>
                <span class="arrow">›</span>
            </a>
            <a href="/contacto" class="quick-link">
                <span class="icon">✉️</span>
                <span class="text">Contacto</span>
                <span class="arrow">›</span>
            </a>
            <a href="/nosotros" class="quick-link">
                <span class="icon">👥</span>
                <span class="text">Nosotros</span>
                <span class="arrow">›</span>
            </a>
            <a href="#" id="logout-btn" class="quick-link">
                <span class="icon">🚪</span>
                <span class="text">Cerrar Sesión</span>
                <span class="arrow">›</span>
            </a>
        </div>


    </main>
    <mobile-nav-bar></mobile-nav-bar>
    <footer>
        <footer-del-mate></footer-del-mate>
    </footer>
</body>

</html>