<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Productos</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
    <link rel="stylesheet" href="/css/props.css">
    <link rel="stylesheet" href="/css/ficha-de-stock.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <script type="module" src="../../js/components/navigation/menu.js"></script>
    <script type="module" src="../../js/components/navigation/admin-nav.js"></script>
    <script type="module" src="../../js/components/navigation/admin-mobile-nav-bar.js"></script>
    <script type="module" src="../../js/components/navigation/footer.js"></script>
    <script type="module" src="../../js/components/products/admin-product-row.js"></script>
    <script type="module" src="/js/turbo.js"></script>
</head>

<body>
    <menu-del-mate></menu-del-mate>

    <div class="main admin">
        <admin-nav></admin-nav>

        <div class="admin-container">
            <div class="admin-header">
                <h1>Administrar Productos</h1>
                <!--<a href="/altas" class="btn btn-primary">Agregar producto</a>-->
            </div>

            <div class="actions-bar">
                <div class="search-box">
                    <input type="text" id="searchInput" placeholder="Buscar por nombre...">
                    <span class="search-icon" role="img" aria-label="search">&#9906</span>
                </div>
                <!-- <button class="btn btn-outline">Filtrar</button> -->
            </div>

            <div id="productList" class="product-list">
                <div class="loading">Cargando productos...</div>
            </div>
        </div>
    </div>

    <footer-del-mate></footer-del-mate>
    <admin-mobile-nav-bar></admin-mobile-nav-bar>

    <script type="module" src="../../js/admin/administrar.js"></script>
</body>

</html>