<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ficha de Stock</title>
	<link rel="icon" type="image/x-icon" href="/img/icons/favicon.png">
	<link rel="stylesheet" href="/css/props.css" />
	<link rel="stylesheet" href="/css/ficha-de-stock.css" />
	<link
		href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet">
	<style>
		tr {
			position: relative;
		}

		input {
			background-color: transparent;
			width: 100%;
		}

		.error-message,
		.ok-message {
			left: 0%;
		}
	</style>
</head>

<body>
	<menu-del-mate></menu-del-mate>
	<admin-nav></admin-nav>

	<h2 class="text-center">Ficha de Stock</h2>
	<div class="main">
		<div class="color-main flex column justify-center align-center p-top-1em">
			<div>
				<label for="select-producto">Producto: </label>
				<select name="lista" id="select-producto" class="w-160px">
					<option value="">Seleccione un producto</option>
				</select>
			</div>

			<div class="">
				<table id="fecha" class="tableFecha">
					<thead class="ficha">
						<tr>
							<th rowspan="2">FECHA</th>
							<th class="border-l-3px-white" colspan="2">FACTURAS</th>
							<th class="border-l-3px-white" colspan="3">ENTRADAS</th>
							<th class="border-l-3px-white" colspan="3">SALIDAS</th>
							<th id="th1-saldos" class="border-l-3px-white" colspan="4">SALDOS</th>
						</tr>
						<tr>


							<th class="fecha-tipo border-l-3px-white">TIPO</th>
							<th class="">NÚMERO</th>
							<th class="border-l-3px-white">CANT.</th>
							<th class="">$/UNIDAD</th>
							<th class="">TOTAL</th>
							<th class="border-l-3px-white">CANT.</th>
							<th class="">$/UNIDAD</th>
							<th class="">TOTAL</th>
							<th class="border-l-3px-white">CANT.</th>
							<th>$/UNIDAD</th>
							<th colspan="2">TOTAL</th>
						</tr>
					</thead>
					<tbody> </tbody>
				</table>
			</div>
		</div>
	</div>
	<footer-del-mate></footer-del-mate>
	<admin-mobile-nav-bar></admin-mobile-nav-bar>
	<script src="./js/ficha.js" type="module"></script>
	<script>

	</script>

</body>

</html>